

<mat-card class="example-card">

  <div class="caption"><span>History</span></div>

  <div class="search-div mt-5" fxLayout="row">
      <mat-form-field class="search-form-field" floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
         <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>
      <!-- <button mat-button class="new" (click)="onCreate()">
          <mat-icon>add</mat-icon>Create
      </button> -->
  </div>

  <div class="spinner" *ngIf="dataSource==null;else table">
      <mat-spinner></mat-spinner>
    </div>

  <ng-template #table>
      <div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource"  matSort (matSortChange)="sortData($event)"  matSortActive="name" matSortDirection="asc" matSortDisableClear   multiTemplateDataRows>
    <ng-container matColumnDef="Id">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> الرقم</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="CustName"> {{element.id}} </mat-cell>
  </ng-container>

      <ng-container matColumnDef="userName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>اسم المستخدم</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="creationDate">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> تاريخ الانشاء </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.creationDate|date : 'yyyy-MM-dd'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="parentType">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> اسم الجدول</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.parentType}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="elementId">
      <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> رقم العنصر  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.elementId}} </mat-cell>
  </ng-container>


      <ng-container matColumnDef="actionType">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> الاجراء</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.actionType}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="Details">
          <mat-header-cell mat-header-cell *matHeaderCellDef> التفاصيل</mat-header-cell>
          <mat-cell *matCellDef="let row" >
              <button mat-button class="text-success" matTooltip="اظهار التفاصيل" (click)="row.isExpanded = !row.isExpanded">

                  <mat-icon>content_paste_search</mat-icon>
              </button>

          </mat-cell>

      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">

          <div class="row student-element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
            <mat-list>

              <mat-list-item >
                {{element.descirption | split:'-'}}

              </mat-list-item>
            </mat-list>
        </div>

        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="6">
            لايوجد بيانات .....
          </mat-footer-cell>

      </ng-container>



      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource.data.length==0 && dataSource !=null)}"></mat-footer-row>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
       <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="student-element-row"
    [class.student-expanded-row]="row.isExpanded"></mat-row>
     <!-- Extra row to show detail content column -->
    <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="student-detail-row"></mat-row>


  </mat-table>
  <!-- end test -->
  </div>

  </ng-template>

  <mat-paginator [pageSizeOptions]="[10,25, 50, 100]"   [pageSize]="10"  showFirstLastButtons></mat-paginator>

  </mat-card>
